Django==2.2.27
requests==2.21.0
django-debug-toolbar==1.11
ipdb==0.12.2
gunicorn==19.9.0
django-extensions==2.1.6
psycopg2-binary==2.7.7
Markdown==3.1
Pillow==6.1.0
sorl-thumbnail==12.5.0
libeospy==2.0.1
