{% extends 'base.html' %}

{% block content %}
    <div class="row">
        {% include '_fancy_slider.html' with object_list=object_list %}
    </div>
{% endblock %}


{% block js_extra %}
    <script type="text/javascript">
        $(document).ready(function() {
            let options = {
                slideShow: {
                    autoStart: true,
                    speed: 6000,
                },
                loop: true,
                animationEffect: false,
            };

            $('.fancy-slider').fancybox(options);
            $.fancybox.open($('.fancy-slider').get(), options);
        });
    </script>
{% endblock %}
